.container {
    background-color: #ccccee;
    border: 10px solid #1d1e4c;
}

* {
    padding: 0px;
    margin: 0px;

}

.content {
    max-width: 60%;
    margin:auto ;
}

.top_section {
    margin-top: 100px;
    justify-content:space-between;
    align-items: flex-end;
}

.top_section h4 {
    font-size: 30px;
    text-align: end;
}

.top_section h1 {
    font-size: 50px;
    font-weight: bold;
    color: rgb(19, 19, 77);
    text-transform: uppercase;
}

.image_container {
border-radius: 50%;
    overflow: hidden;
}

.image_container,
img {
    width: 300px;
    height: 320px;
}

.about_section {
    margin-top: 50px;
}

.about_section h2 {
    font-size: 70px;
    font-weight: 400;
    margin-bottom: 20px;
}

.about_section p {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.2px;
    text-align: justify;
}

.biography_section {
    border: 5px solid #1d1e4c;
    margin: 50px 0;
}

.biography_section h3 {
    margin: 20px;
}

.biography_section ul {
    font-size: larger;
    margin-left: 50px;
}

.biography_section li {
    margin-bottom: 15px;
}

footer {
    margin: 50px;
}

footer p {
    text-align: end;

}